.buttonWrapper{
    margin: 10px ;
    text-align: center;
}

.buttonWrapper button{
    padding: 10px;
    margin: 0 10px;
    border: 2px solid transparent;
    background: #EDF2F7;
    font-size: 14px;
    border-radius: 5px;
}

.buttonWrapper button:hover{
    cursor: pointer;
    background: #CBD5E0;
}