.formWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 10rem);
    box-sizing: border-box;
    flex-direction: column;
    padding: 3rem 10rem;
}

.formHead {
    margin-bottom: 15px;
}

.formHead h3 {
    font-weight: 600;
    color: rgb(56, 56, 56);
    line-height: 2.5rem;
    letter-spacing: 1px;
}

.mainWrapper{
    margin-bottom: 20px;
}

h5 {
    font-weight: 600;
    color: rgb(56, 56, 56);
    line-height: 2.5rem;
    letter-spacing: 1px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 300px;
    box-sizing: border-box;
    padding: 0 5em;
    width: 75%;
}

.rowInputWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.inputWrapper input {
    border-radius: 4px;
    background: #EDF2F7;
    border: 2px solid transparent;
    height: 2em;
    margin: 10px 0;
    padding: 6px;
}

.longInput{
    display: flex;
    flex-direction: column;
}

.longInput input {
    border-radius: 4px;
    background: #EDF2F7;
    border: 2px solid transparent;
    height: 2em;
    margin: 10px 0;
}