.mainWrapper{
    margin-bottom: 20px;
}

h5 {
    font-weight: 600;
    color: rgb(56, 56, 56);
    line-height: 2.5rem;
    letter-spacing: 1px;
}

input {
    border-radius: 4px;
    background: #EDF2F7;
    border: 2px solid transparent;
    height: 2em;
    margin: 10px 0;
    padding: 6px;
}

textarea{
    border-radius: 4px;
    background: #EDF2F7;
    border: 2px solid transparent;
    margin: 10px 0;
    padding: 6px;
}

.description{
    display: flex;
    flex-direction: column;
}

.btnWrap{
    text-align: center;
    margin: 15px 0;
}

.btnWrap button{
    padding: 10px;
    margin: 0 10px;
    border: 2px solid transparent;
    font-size: 14px;
    border-radius: 5px;
}

.btnWrap button:hover{
    cursor: pointer;
    background: #a9e9c8;

}

@media screen and (max-width: 750px) {
    form{
        padding: 0 !important;
    }
}
